<div class="container-fluid">
    <h1 id="mySkillsH1"><span style="color: red">Contact</span> me</h1>
    <div class="justify-content-center col-lg">
        <p id="mySkillsP" style="align-items: center;">
          <span style="color: red; font-size: x-large">Soy</span> de un lugar de la
          Mancha, de cuyo nombre me acuerdo perfectamente, de Campo de Criptana, y me encuentro rodeado de gigantes.
        </p>
      </div>
      <div style="display: flex; position: relative; margin-right: auto; justify-content: center;">
        <iframe class="btn btn-outline-primary" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25389.06473597479!2d-3.115891574066321!3d39.39503655865304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd69ace20e66aaa5%3A0xef2da6d275b00c1c!2s13610%20Campo%20de%20Criptana%2C%20Cdad.%20Real!5e0!3m2!1ses!2ses!4v1655343441798!5m2!1ses!2ses" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <p id="mySkillsP" style="align-items: center; margin-top: 2%;"><span style="color: red; font-size: x-large">jabadg99@gmail.com</span>
        Este es mi correo, tengo muchas ganas de trabajar y demostrar lo que he
        aprendido. Un cordial saludo.</p>
      <div class="justify-content-center col-lg">
        <p id="mySkillsP" style="align-items: center; margin-bottom: -2%;">
          Y este es mi <span style="color: red; font-size: x-large">cv</span>.
        </p>
        <a href="./assets/PDF/GameCV.pdf" download="GameCV.pdf"><p id="mySkillsP" style="align-items: center;"><button type="button" class="btn btn-primary" style="width: 50%;"><i class="fa fa-download" style="color: white;"></i></button></p></a>
      </div>
      
      
</div>



