<div style="height: 100%; display: flex; margin-bottom: 100%; justify-content: center;">
    <div class="container-fluid" style="margin-top: 2%; position:relative; width: 50%;">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
          <div class="card-header" style="justify-content: center; text-align:center;">
            <a class="btn btn-dark" target="_blank" href="https://icons8.com"
              >Icons8</a
            >
          </div>
          <div class="card-body">
            <div class="" style="justify-content: center; text-align:center;display: flex;">
              <div style="">
                <a
                  href="https://icons8.com/icon/9a46bTk3awwI/youtube-play"
                  target="_blank"
                  class="btn btn-outline-primary"
                  style="object-fit: contain"
                  ><img src="./assets/Images/png/youtube.png" alt="" width="100%"
                /></a>
              </div>
              <div style="margin-left: 5%">
                <a
                  href="https://icons8.com/icon/b9_NzGK1H_Pe/itch-io"
                  target="_blank"
                  class="btn btn-outline-primary"
                  style="object-fit: contain"
                  ><img src="./assets/Images/png/itch-io.png" alt="" width="100%"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

