<div class="container-fluid" style="display: flex; justify-content: center">
    <div
    class="card border-dark mb-3grid-block btn btn-outline-dark"
    style="
      max-width: 20rem;
      padding: 0, 1, 0, 1;
      text-align: center;
      font-family: 'Greybeard-16px';
      position: relative;
      margin-left: auto;
      margin-right: auto;
      background-image: url('./assets/Images/png/bee.png');
      background-size: cover;
      width: 100%;
      height: auto;
      background-position: center;
    "
  >
  <div class="btn btn-outline-dark">
    <div class="text-primary"><h1>Bee Game</h1></div>
    <div class="card-body">
      <h4 class="text-primary">Beelocity or dead</h4>
      <p class="text-primary">
        A game where you are a bee and you have to collect all the stars to win.
      </p>
    </div>
    <div class="" style="display: flex; justify-content: center">
        <div
          style="justify-content: center"
        >
          <a
            href="https://youtu.be/iKBUmJuK0XU"
            target="_blank"
            class="btn btn-outline-primary"
            style="object-fit: contain"
            ><img src="./assets/Images/png/youtube.png" alt="" width="100%"
          /></a>
        </div>
        <!--<div
          style="justify-content: center; margin-left: 5%;"
        >
          <a
            href="#"
            target="_blank"
            class="btn btn-outline-primary"
            style="object-fit: contain"
            ><img src="./assets/Images/png/itch-io.png" alt="" width="100%"
          /></a>
        </div>-->
      </div>
  </div>
    
  </div>
    
  <div
    class="card border-dark mb-3grid-block btn btn-outline-primary"
    style="
      max-width: 20rem;
      padding: 0, 1, 0, 1;
      text-align: center;
      font-family: 'Greybeard-16px';
      position: relative;
      margin-left: auto;
      margin-right: auto;
      background-image: url('./assets/Images/png/CarRacing.png');
      background-size: cover;
      width: 100%;
      height: auto;
      background-position: center;
    "
  >
  <div class="btn btn-outline-primary">
    <div class="text-dark"><h1>Car Racing 2D</h1></div>
    <div class="card-body">
      <h4 class="text-dark">Fast as sanic</h4>
      <p class="text-dark">
        A game where you must dodge all obstacles, if you crash you lose points.
      </p>
    </div>
    <div class="" style="display: flex; justify-content: center">
        <div
          style="justify-content: center"
        >
          <a
            href="https://youtu.be/lu49FTDA57c"
            target="_blank"
            class="btn btn-outline-dark"
            style="object-fit: contain"
            ><img src="./assets/Images/png/youtube.png" alt="" width="100%"
          /></a>
        </div>
        <!--<div
          style="justify-content: center; margin-left: 5%;"
        >
          <a
            href="#"
            target="_blank"
            class="btn btn-outline-dark"
            style="object-fit: contain"
            ><img src="./assets/Images/png/itch-io.png" alt="" width="100%"
          /></a>
        </div>-->
      </div>
  </div>
    
  </div>
  <div
    class="card border-success mb-3grid-block btn btn-outline-success"
    style="
      max-width: 20rem;
      padding: 0, 1, 0, 1;
      text-align: center;
      font-family: 'Greybeard-16px';
      position: relative;
      margin-left: auto;
      margin-right: auto;
      background-image: url('./assets/Images/png/HeroesNeverDieIcon.png');
      background-size: cover;
      width: 100%;
      height: auto;
      background-position: center;
    "
  >
  <div class="btn btn-outline-success">
    <div class="text-primary"><h1>Heroes Never Die</h1></div>
    <div class="card-body">
      <h4 class="text-primary">How can you die if you are the hero?</h4>
      <p class="text-primary">
        Collect all the coins without dying in the attempt.
      </p>
    </div>
    <div class="" style="display: flex; justify-content: center">
        <div
          style="justify-content: center"
        >
          <a
            href="https://youtu.be/BiPZmksLQEE"
            target="_blank"
            class="btn btn-outline-primary"
            style="object-fit: contain"
            ><img src="./assets/Images/png/youtube.png" alt="" width="100%"
          /></a>
        </div>
        <!--<div
          style="justify-content: center; margin-left: 5%;"
        >
          <a
            href="#"
            target="_blank"
            class="btn btn-outline-primary"
            style="object-fit: contain"
            ><img src="./assets/Images/png/itch-io.png" alt="" width="100%"
          /></a>
        </div>-->
      </div>
  </div>
    
  </div>
  <!--<div class="card border-danger mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Danger card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>
              <div class="card border-warning mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Warning card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>
              <div class="card border-info mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Info card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>
              <div class="card border-light mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Light card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>
              <div class="card border-dark mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Dark card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>-->
</div>
