<div class="container-fluid" style="display: flex; justify-content: center;">
  <div class="card border-primary mb-3 grid-block" style="max-width: 20rem; padding: 0, 1, 0, 1;
  text-align: center;
  font-family: 'Greybeard-16px';
  position: relative;margin-left: auto; margin-right: auto; background-image: url('./assets/Images/png/bee.png'); background-size: cover; width: 100%;  height: auto; background-position: center;">
    <div class="card-header">Bee Game</div>
    <div class="card-body">
      <h4 class="card-title" style="color: purple;">Beelocity or dead.</h4>
      <p class="card-text" style="color: purple;">
        A game where you are a bee and you have to collect all the stars to win.
      </p>
      <a href="#" target="_blank"><img class="btn btn-outline-primary" src="./assets/Images/png/youtube.png" alt="" width="30%"></a>
      <a href="#" target="_blank"><img class="btn btn-outline-primary" src="./assets/Images/png/itch-io.png" alt="" width="25.4%" style="margin-left: 2%;"></a>
    </div>
  </div>
  <div class="card border-secondary mb-3grid-block" style="max-width: 20rem; padding: 0, 1, 0, 1;
  text-align: center;
  font-family: 'Greybeard-16px';
  position: relative;margin-left: auto; margin-right: auto; background-image: url('./assets/Images/png/HeroesNeverDieIcon.png'); background-size: cover; width: 100%;  height: auto; background-position: center;">
    <div class="card-header">Racing Car 2D</div>
    <div class="card-body">
      <h4 class="card-title">Fast as sanic</h4>
      <p class="card-text">
        A game where you must dodge all obstacles, if you crash you lose points.
      </p>
      <a href="#" target="_blank"><img class="btn btn-outline-primary" src="./assets/Images/png/youtube.png" alt="" width="30%"></a>
      <a href="#" target="_blank"><img class="btn btn-outline-primary" src="./assets/Images/png/itch-io.png" alt="" width="25.4%" style="margin-left: 2%;"></a>
    </div>
  </div>
  <div class="card border-success mb-3grid-block" style="max-width: 20rem; padding: 0, 1, 0, 1;
  text-align: center;
  font-family: 'Greybeard-16px';
  position: relative;margin-left: auto; margin-right: auto; background-image: url('./assets/Images/png/HeroesNeverDieIcon.png'); background-size: cover; width: 100%;  height: auto; background-position: center;">
    <div class="card-header">Heroes Never Die</div>
    <div class="card-body">
      <h4 class="card-title">How can you die if you are the hero?</h4>
      <p class="card-text">
        Collect all the coins without dying in the attempt.
      </p>
      <a href="#" target="_blank"><img class="btn btn-outline-primary" src="./assets/Images/png/youtube.png" alt="" width="30%"></a>
      <a href="#" target="_blank"><img class="btn btn-outline-primary" src="./assets/Images/png/itch-io.png" alt="" width="25.4%" style="margin-left: 2%;"></a>
    </div>
  </div>
  <!--<div class="card border-danger mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Danger card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>
              <div class="card border-warning mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Warning card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>
              <div class="card border-info mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Info card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>
              <div class="card border-light mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Light card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>
              <div class="card border-dark mb-3" style="max-width: 20rem">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Dark card title</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.
                  </p>
                </div>
              </div>-->
</div>
