<div
  class="text-white bg-primary container-fluid"
  style="position: sticky; left: 0; bottom: 0; width: 100%; text-align: center"
>
  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h1 class="card-title">Acknowledgments</h1>
          <a routerLink="acknowledgments" class="btn btn-primary">Go to acknowledgments</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="card-body">
          <h1 class="card-title">Social Networks</h1>
          <a
            href="https://www.youtube.com/channel/UCp1tfOCNICDH5JXjbSWkdQg"
            target="_blank"
            class="btn btn-outline-primary"
            style="object-fit: contain"
            ><img src="./assets/Images/png/youtube.png" alt="" width="100%"
          /></a>
          <a
            href="#"
            target="_blank"
            class="btn btn-outline-primary"
            style="object-fit: contain"
            ><img src="./assets/Images/png/itch-io.png" alt="" width="100%"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
